<h1>Edit Course</h1>
<form action="" method="POST">
    <input hidden type="text" name="id" value="<%= course.id %>">
    <div class="mb-3">
        <label for="">Course</label>
        <input type="text" name="name" class="form-control" placeholder="Course..." value="<%=req.old.name %>">
    </div>
     <div class="mb-3">
       <label for="">Price</label>
       <input type="text" name="price" class="form-control" placeholder="Price..." value="<%=course.price %>" >
        <p><%=course.status %></p>
     </div>

    <div class="mb-3">
      <label for="">Status</label>
      <select name="status" class="form-control">
        <option value="inactive" <%=!course.status ? 'selected' : '' %>>Chưa kích hoạt</option>
        <option value="active" <%=course.status ? 'selected': '' %>>Kích hoạt</option>
      </select>
    </div>
    <a href="/" class="btn btn-success">Cancel</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>